<div class="jumbotron">
    <h1>FM 2020</h1>
    <p class="lead">The views and everything we need will be placed here</p>

    <div>
        <div>
            <div class="col-md-offset-2">
                <ol>
                    <li>
                        I am a list item
                    </li>
                    <li>
                        I am a list item
                    </li>
                    <li>
                        I am a list item
                    </li>
                    <li>
                        I am a list item
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-lg-10">
            <button>A</button>

            <button>B</button>

            <button>C</button>

            <button>E</button>

            <button>D</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Made by Rasmus Rosenkjær</h2>
    </div>
</div>
